/* line 58, ../../../styles/sass/beers.scss */
body {
  background-color: ghostwhite;
  color: dimgray;
  margin: 0px;
}

/* line 66, ../../../styles/sass/beers.scss */
.top {
  background-color: #FFDB7A;
  height: 24px;
  vertical-align: text-top;
  padding-top: 0.625em;
  padding-bottom: 0.3125em;
  width: 100%;
  margin: 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 79, ../../../styles/sass/beers.scss */
.header-title-box {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  width: 20%;
  float: left;
  margin-left: 0.25em;
  margin-bottom: 0.625em;
}
/* line 86, ../../../styles/sass/beers.scss */
.header-title-box a:link, .header-title-box a:visited, .header-title-box a:active, .header-title-box a:hover {
  font-weight: bold;
  text-decoration: none;
  text-decoration-color: dimgray;
}

/* line 93, ../../../styles/sass/beers.scss */
.header-login-box {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  width: 30%;
  text-align: right;
  vertical-align: text-top;
  border-left-width: 1px;
  border-left-color: #EFD181;
  padding-right: 0.625em;
}
/* line 102, ../../../styles/sass/beers.scss */
.header-login-box a:link, .header-login-box a:visited, .header-login-box a:active, .header-login-box a:hover {
  text-decoration: none;
  text-decoration-color: dimgray;
}
/* line 106, ../../../styles/sass/beers.scss */
.header-login-box .profile-image {
  max-height: 20px;
  max-width: 20px;
  height: auto;
  width: auto;
  vertical-align: bottom;
}

/*
.footer {
  height: 2em;
  color: lightgrey;
  background-color: darkgrey;
  padding-left: 0.25rem;
  padding-top: 10px / $default-font-size * 1em;
  padding-bottom: 5px / $default-font-size * 1em;
  margin: 0em;
  font-size: 0.5em;
}
*/
/* line 128, ../../../styles/sass/beers.scss */
#topimage {
  width: 100%;
}

/* line 133, ../../../styles/sass/beers.scss */
.content {
  font-family: Helvetica, sans-serif;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
/* line 139, ../../../styles/sass/beers.scss */
.content h1 {
  font-size: 2.5rem;
  color: #5c5c5c;
}
/* line 145, ../../../styles/sass/beers.scss */
.content h2 {
  font-size: 2rem;
  color: #767676;
}

/* line 153, ../../../styles/sass/beers.scss */
#pstmt {
  font-size: 1.25em;
}

/* line 158, ../../../styles/sass/beers.scss */
.core-table table, .player-beers table, .contest-summary-list table, .contests table, .contest-leaderboard table, .contest-beerlist table {
  background-color: white;
  width: 100%;
}
/* line 161, ../../../styles/sass/beers.scss */
.core-table table th, .player-beers table th, .contest-summary-list table th, .contests table th, .contest-leaderboard table th, .contest-beerlist table th {
  height: 1.5em;
  font-size: 1rem;
  background-color: white;
}
/* line 166, ../../../styles/sass/beers.scss */
.core-table table tr, .player-beers table tr, .contest-summary-list table tr, .contests table tr, .contest-leaderboard table tr, .contest-beerlist table tr {
  height: 1.25em;
  font-size: 0.9rem;
}
/* line 170, ../../../styles/sass/beers.scss */
.core-table table td, .player-beers table td, .contest-summary-list table td, .contests table td, .contest-leaderboard table td, .contest-beerlist table td {
  background-color: #dfc8b9;
  padding: 0.5em;
  margin: 0.5em;
}

/* line 178, ../../../styles/sass/beers.scss */
.player-beers {
  width: 80%;
  margin-left: 3em;
  margin-top: 0.5em;
}

/* line 185, ../../../styles/sass/beers.scss */
.contest-summary-list {
  float: right;
  vertical-align: text-top;
  width: 40%;
  background-color: #B78361;
  margin: 0.25em;
}

/* line 194, ../../../styles/sass/beers.scss */
.contests {
  width: 80%;
  margin-left: 6em;
  margin-top: 2em;
}

/* line 201, ../../../styles/sass/beers.scss */
.contest-leaderboard {
  width: 80%;
  margin-left: 3em;
  margin-top: 0.5em;
}

/* line 208, ../../../styles/sass/beers.scss */
.contest-beerlist {
  width: 80%;
  margin-left: 3em;
  margin-top: 0.5em;
}

/* line 215, ../../../styles/sass/beers.scss */
.three-column-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2em;
}

/* line 224, ../../../styles/sass/beers.scss */
.column-box, .outset-column-box {
  width: 25%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  height: 100%;
}
/* line 233, ../../../styles/sass/beers.scss */
.column-box .column-box-content, .outset-column-box .column-box-content {
  height: 80%;
}
/* line 237, ../../../styles/sass/beers.scss */
.column-box .column-box-link, .outset-column-box .column-box-link {
  text-align: right;
  font-size: 0.8em;
  width: 100%;
  vertical-align: text-bottom;
}

/* line 245, ../../../styles/sass/beers.scss */
.outset-column-box {
  background-color: lightgrey;
  box-shadow: 0.3em 0.3em 0.1em darkgrey;
  padding-bottom: 1em;
}

/* line 252, ../../../styles/sass/beers.scss */
img.column-icon {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 260, ../../../styles/sass/beers.scss */
.login-box {
  width: 34.125em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 269, ../../../styles/sass/beers.scss */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30em;
  background-color: lightgrey;
  border: 1px solid;
  border-color: darkgrey;
  margin: 1em;
  padding: 1em;
}

/* line 281, ../../../styles/sass/beers.scss */
.login-field {
  width: 30em;
  float: left;
  padding-bottom: 0.75em;
}
/* line 285, ../../../styles/sass/beers.scss */
.login-field input {
  font-size: 1.25em;
  width: 23.8em;
  border: 0.05em;
  padding: 0.05em;
  height: 1.5em;
}

/* line 294, ../../../styles/sass/beers.scss */
.error-info {
  float: left;
  font-weight: bold;
  color: maroon;
}

/* line 300, ../../../styles/sass/beers.scss */
.login-button-row {
  width: 100%;
  padding-bottom: 0.75em;
}
/* line 304, ../../../styles/sass/beers.scss */
.login-button-row input[type=submit] {
  font-size: 1.25em;
  float: right;
}

/* line 310, ../../../styles/sass/beers.scss */
.login-label {
  font-size: 1em;
  font-weight: bold;
  height: 1em;
  width: 80%;
  text-align: left;
  float: left;
  margin-bottom: 0.25em;
}

/* line 320, ../../../styles/sass/beers.scss */
.field-help {
  font-size: 0.75rem;
  height: 0.8rem;
  text-align: left;
  float: left;
  margin-bottom: 0.25rem;
}

/* line 328, ../../../styles/sass/beers.scss */
.validations {
  width: 90%;
  margin-left: 1em;
}

/* line 335, ../../../styles/sass/beers.scss */
.validation-button {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #599bb3;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  padding: 0.2rem 0.4em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

/* line 353, ../../../styles/sass/beers.scss */
.validation-button:hover {
  background-color: #3c7083;
}

/* line 356, ../../../styles/sass/beers.scss */
.validation-button:active {
  position: relative;
  top: 1px;
}

/* line 361, ../../../styles/sass/beers.scss */
.validation-button:disabled {
  background-color: dimgrey;
  -moz-box-shadow: inset 0px 10px 14px -7px #5c5c5c;
  -webkit-box-shadow: inset 0px 10px 14px -7px #5c5c5c;
  box-shadow: inset 0px 10px 14px -7px #5c5c5c;
}

/* line 368, ../../../styles/sass/beers.scss */
.validation-box {
  width: 40em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  border-width: thin;
  border-radius: 0.25em;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
}

/* line 379, ../../../styles/sass/beers.scss */
.validation-column, .validation-lines, .validation-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 386, ../../../styles/sass/beers.scss */
.validation-lines {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 393, ../../../styles/sass/beers.scss */
.validation-buttons {
  width: 25%;
  padding-right: 1em;
}

/* line 399, ../../../styles/sass/beers.scss */
.validation-button-line {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  width: 100%;
  text-align: center;
}

/* line 406, ../../../styles/sass/beers.scss */
.validation-text-line, .validation-beer-line, .validation-brewery-line, .validation-user-line, .validation-match-line {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

/* line 411, ../../../styles/sass/beers.scss */
.validation-beer-line {
  font-size: 1.25em;
  font-weight: bolder;
}
/* line 415, ../../../styles/sass/beers.scss */
.validation-beer-line a {
  font-size: 0.9rem;
  font-weight: lighter;
}

/* line 421, ../../../styles/sass/beers.scss */
.validation-brewery-line {
  font-size: 0.9em;
}

/* line 426, ../../../styles/sass/beers.scss */
.validation-user-line {
  font-size: 0.9em;
}

/* line 431, ../../../styles/sass/beers.scss */
.validation-match-line {
  font-weight: bolder;
  font-size: 1em;
  color: #00b100;
}

/* line 438, ../../../styles/sass/beers.scss */
.validation-detail {
  float: left;
  font-size: 0.75em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/* line 445, ../../../styles/sass/beers.scss */
.validation-link {
  float: left;
  font-size: 0.75em;
}

/* line 450, ../../../styles/sass/beers.scss */
.pager {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

/* line 455, ../../../styles/sass/beers.scss */
.dialog-overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

/* line 466, ../../../styles/sass/beers.scss */
.dialog-box {
  background-color: darkgrey;
}

/* line 470, ../../../styles/sass/beers.scss */
.quicklinks {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: #ededed;
  text-align: center;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
/* line 480, ../../../styles/sass/beers.scss */
.quicklinks ul {
  text-align: left;
  list-style-type: square;
}
/* line 484, ../../../styles/sass/beers.scss */
.quicklinks h4 {
  font-size: 1.25em;
  margin-top: 0.20em;
  margin-bottom: 0.20em;
}

/* line 491, ../../../styles/sass/beers.scss */
.summary {
  /* height: 100%; */
}

/* line 495, ../../../styles/sass/beers.scss */
.summary-table {
  width: 100%;
  margin-bottom: 4px;
}

/* line 500, ../../../styles/sass/beers.scss */
.summary-table tr {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 505, ../../../styles/sass/beers.scss */
.summary-rank {
  width: 10%;
}

/* line 509, ../../../styles/sass/beers.scss */
.summary-player {
  width: 80%;
}

/* line 513, ../../../styles/sass/beers.scss */
.summary-score {
  width: 10%;
  float: right;
}

/* line 518, ../../../styles/sass/beers.scss */
.login-entry {
  padding-bottom: 3px;
  padding-top: 3px;
  width: 80%;
}

/* line 524, ../../../styles/sass/beers.scss */
.login-buttons {
  float: right;
}

/* line 528, ../../../styles/sass/beers.scss */
.whats-this {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 533, ../../../styles/sass/beers.scss */
.data-header, .leaderboard-header, .beer-header, .brewery-header, .challenge-header, .checkin-header {
  background-color: darkgrey;
  font-weight: bold;
}

/* line 538, ../../../styles/sass/beers.scss */
.data-row-odd, .leaderboard-odd, .beer-odd, .brewery-odd, .challenge-odd, .checkin-odd {
  background-color: beige;
}

/* line 542, ../../../styles/sass/beers.scss */
.data-row-even, .leaderboard-even, .beer-even, .brewery-even, .challenge-even, .checkin-even {
  background-color: aliceblue;
}

/* line 546, ../../../styles/sass/beers.scss */
.data-row-checkedin, .beer-checkedin, .brewery-checkedin, .challenge-checkedin {
  color: black;
  background-color: lightgreen;
  font-style: italic;
}

/* line 552, ../../../styles/sass/beers.scss */
.leaderboard {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

/* line 558, ../../../styles/sass/beers.scss */
.leaderboard-row {
  padding: 3px;
}

/* line 577, ../../../styles/sass/beers.scss */
.beer-row {
  padding: 3px;
}

/* line 632, ../../../styles/sass/beers.scss */
.checkin-row {
  padding: 3px;
}

/* line 648, ../../../styles/sass/beers.scss */
.validation-buttons {
  float: right;
}
