{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="page-header">
    <h1>{{ player.player.user.first_name }} {{ player.player.user.last_name}}
        - {{ player.player.user.username }}
        {% if player.player.personal_statement %}
        <small>
            {{ player.player.personal_statement }}
        </small>
        {% endif %}
    </h1>
  </div>

  <div class="container">
    <h2>Contest: {{ player.contest.name }}</h2>

    <table class="table table-striped">
        <tr>
            <th>Event</th>
            <th>Points</th>
            <th>Last Checkin Date</th>
        </tr>
        {% for c in checkins %}
        <tr>
            <td>
                <a href="{{c.untappd_checkin}}">{{ c.description }}</a>
            </td>
            <td>
                {{ c.checkin_points }}
            </td>
            <td>
                {{ c.checkin_time|date:'SHORT_DATETIME_FORMAT' }}
            </td>
        </tr>
        {% empty %}
            <td>
                -
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
        {% endfor %}
    </table>
   </div>
{% endblock %}
