{% extends 'base/base.html' %}
{% load static from staticfiles %}
{% block title %}{{ contest.name }} - Beers{% endblock %}
{% block scripts %}
  <link rel="stylesheet" href="{% static 'tablesorter/themes/blue/style.css' %}"/>
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'tablesorter/jquery.tablesorter.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() { $("#beerlist").tablesorter(); });
  </script>
{% endblock %}

{% block content %}
<h2>What We're Drinking</h2>

<p>
  See the <a href="{% url 'leaderboard' contest.id %}">Leaderboard</a>
</p>

<div class="contest-beerlist">
  <table id="beerlist" class="tablesorter">
    <thead>
      <tr>
        <th>Beer</th>
        <th>Brewery</th>
        <th>Style</th>
        <th>City</th>
        <th>State</th>
        {% if contest_player %}
        <th>Checkin</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for cb in contest_beers %}
      <tr>
        <td {% if cb.checked_into %}style="background-color: lawngreen"{% endif %}>
          {{ cb.beer.name }}
        </td>
        <td {% if cb.checked_into %}style="background-color: lawngreen"{% endif %}>
          {{ cb.beer.brewery }}
        </td>
        <td {% if cb.checked_into %}style="background-color: lawngreen"{% endif %}>
          {{ cb.beer.style }}
        </td>
        <td {% if cb.checked_into %}style="background-color: lawngreen"{% endif %}>
          {{ cb.beer.brewery_city }}
        </td>
        <td {% if cb.checked_into %}style="background-color: lawngreen"{% endif %}>
          {{ cb.beer.brewery_state }}
        </td>
        {% if contest_player %}
        <td style="text-align: center; {% if cb.checked_into %}background-color: lawngreen{% endif %}">
          {% if cb.checked_into %}&#x2713;{% else %}&nbsp;{% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
