{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}{{ contest.name }} - Leaderboard{% endblock %}

{% block content %}
<h2>Leaderboard</h2>

<p>
  See the <a href="{% url 'beer-list' contest.id %}">Beer list</a>
</p>

<div class="contest-leaderboard">
  <table>
    <tr>
      <th>
        Rank
      </th>
      <th>
        Player
      </th>
      <th>
        Beer Points
      </th>
      <th>
        Brewery Points
      </th>
      <th>
        Total Points
      </th>
      <th>
        Last Beer Drank/Brewery Visit
      </th>
    </tr>
    {% for p in players %}
    <tr>
      <td>
        {{ p.rank }}
      </td>
      <td>
        <a href="{% url 'player-detail' contest_id=contest.id username=p.user_name %}">{{ p.user_name }}</a>
      </td>
      <td>
        {{ p.beer_points }}
      </td>
      <td>
        {{ p.brewery_points }}
      </td>
      <td>
        {{ p.total_points }}
      </td>
      <td>
        {% if p.last_checkin_beer %}
          {{ p.last_checkin_beer }}
        {% elif p.last_checkin_brewery %}
          {{ p.last_checkin_brewery }}
        {% endif %}
      </td>
    </tr>
    {% empty %}
      <td>
        -
      </td>
      <td>
        -
      </td>
      <td>
        -
      </td>
      <td>
        -
      </td>
    {% endfor %}
  </table>
</div>
{% endblock %}
