{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}

		<h1>{{ player.contest.name }} - {{ player.player.user.username }}</h1>

		{% if player.personal_statement %}
		<p id="pstmt">
			"{{ player.personal_statement }}"
		</p>
		{% endif %}

		<div class="player-beers">
			<table>
				<tr>
					<th>
						Date
					</th>
					<th>
						Beer
					</th>
					<th>
						Rating
					</th>
				</tr>
				{% for c in checkins %}
				<tr>
					<td>
						{{ c.checkin_time|date:'SHORT_DATE_FORMAT' }}
					</td>
					<td>
						{{ c.beer.name }}
					</td>
					<td>
						{{ c.rating }}
					</td>
				</tr>
				{% empty %}
					<td>
						-
					</td>
					<td>
						-
					</td>
					<td>
						-
					</td>
				{% endfor %}
			</table>
		</div>
{% endblock %}
