{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}{{ contest.name }}{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css' %}"/>
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'select2/dist/js/select2.min.js' %}"></script>
  {{ form.media }}
  <script type="text/javascript" src="{% static 'handlebars/dist/handlebars.runtime.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/templates.runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/api.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/edit-contest.js' %}"></script>
  <script type="text/javascript">
  $(function() {
      console.log('Getting a new contest');
      // TODO: will move this to an API call later
      var selectData = [
          {
            text: 'Beers',
            children: [
              {% for b in contest_beers %}{ id: 'beer:{{ b.id }}', text: '{{ b.beer_name }}'},
              {% endfor %}
            ]
          },
          {
            text: 'Breweries',
            children: [
              {% for b in contest_breweries %}{ id: 'brewery:{{ b.id }}', text: '{{ b.brewery_name }}'},
              {% endfor %}
            ]
          }
      ];
      contest = Contests.init('{% url 'index' %}', {{ contest.id }});
      contest.selectData = selectData;
      {% if contest.active and contest_player %}
      contest.player = true;
      {% endif %}
      {% if not contest.active and is_creator %}
      contest.editing = true;
      {% endif %}
      EditContest.displayBeers(contest);
      EditContest.displayBreweries(contest);
      EditContest.displayBonuses(contest);
      Validate.displayCheckins(contest, 1);
  });
  </script>
{% endblock %}

{% block content %}
{% if not contest.active and is_creator %}
{% include "includes/add-beer-modal.html" %}
{% include "includes/add-brewery-modal.html" %}
{% include "includes/add-bonus-modal.html" %}
{% endif %}
	<div class="page-header">
		<h1>{{ contest.name }}</h1>
	</div>
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#leaderboard" aria-controls="leaderboard" role="tab" data-toggle="tab">Leaderboard</a></li>
      <li role="presentation"><a href="#beers" aria-controls="beers" role="tab" data-toggle="tab">Beers</a></li>
      <li role="presentation"><a href="#breweries" aria-controls="breweries" role="tab" data-toggle="tab">Breweries</a></li>
      <li role="presentation"><a href="#bonuses" aria-controls="bonuses" role="tab" data-toggle="tab">Bonuses</a></li>
      {% if is_creator %}
      <li role="presentation"><a href="#validate" aria-controls="validate" role="tab" data-toggle="tab">Validate</a></li>
      {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="leaderboard">
          <div class="leaderboard">
            <div class="row leaderboard-row leaderboard-header">
              <div class="col-md-1 col-xs-1">Rank</div>
              <div class="col-md-4 col-xs-10">User</div>
              <div class="col-md-2 col-md-push-5 col-xs-1">Points</div>
              <div class="col-md-5 col-md-pull-2 col-md-offset-0 col-xs-offset-1 col-xs-10">Last Checkin</div>
            </div>
            {% for p in players %}
            <div class="row leaderboard-row leaderboard-{% if forloop.counter0|divisibleby:"2"%}even{% else %}odd{% endif %}">
              <div class="col-md-1 col-xs-1">{{ p.rank }}</div>
              <div class="col-md-4 col-xs-10">
                <a href="{% url 'contest-player' contest.id p.user_name %}">{{ p.user_name }}</a>
              </div>
              <div class="col-md-2 col-md-push-5 col-xs-1">{{ p.total_points }}</div>
              <div class="col-md-5 col-md-pull-2 col-md-offset-0 col-xs-offset-1 col-xs-10">{{ p.last_checkin_beer }}</div>
            </div>
            {% endfor %}
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="beers">
          <div class="beer-list">
            <div class="row form-group">
                <div class="col-md-3 coll-md-offset-9">
                    <label for="beer-search" class="sr-only">Search for Beers</label>
                    <input id="beer-search" type="search" class="form-group" placeholder="Search for beers"/>
                </div>
            </div>
            <div class="row beer-row beer-header">
              <div class="col-xs-4">Beer</div>
              <div class="col-xs-4">Brewery</div>
              <div class="col-xs-1">State</div>
              <div class="col-xs-1">Points</div>
              {% if contest.active and contest_player %}
                <div class="col-xs-1">Checkin</div>
              {% endif %}
              {% if not contest.active and is_creator %}
              <div class="col-xs-1">+/-</div>
              {% endif %}
            </div>
			{% for b in contest_beers %}
            <div class="row beer-row beer-{% if forloop.counter0|divisibleby:"2"%}even{% else %}odd{% endif %} {% if b.checked_into %}beer-checkedin{% endif %}">
              <div class="col-xs-4">{{ b.beer.name }}</div>
              <div class="col-xs-4">{{ b.beer.brewery }}</div>
              <div class="col-xs-1">{{ b.beer.brewery_state }}</div>
              <div class="col-xs-1">{{ b.point_value }}</div>
              {% if contest.active and contest_player %}
              <div class="col-xs-1">
                {% if b.checked_into %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
              </div>
              {% endif %}
              {% if not contest.active and is_creator %}
              <div class="col-xs-1">
                <button type="button" class="btn btn-default" aria-label="Delete">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
              {% endif %}
            </div>
            {% empty %}
            <div class="row beer-row">
              No beers yet added to this contest.
            </div>
            {% endfor %}
            {% if not contest.active and is_creator %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBeer">Add Beer</button>
            {% endif %}
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="breweries">
          <div class="brewery-list">
            <div class="row form-group">
                <div class="col-md-3 coll-md-offset-9">
                    <label for="brewery-search" class="sr-only">Search for Breweries</label>
                    <input id="brewery-search" type="search" class="form-group" placeholder="Search for breweries"/>
                </div>
            </div>
            <div class="row brewery-row brewery-header">
              <div class="col-xs-8">Brewery</div>
              <div class="col-xs-1">State</div>
              <div class="col-xs-1">Points</div>
              {% if contest_player %}<div class="col-xs-1">Checkin</div>{% endif %}
            </div>
		    {% for b in contest_breweries %}
            <div class="row brewery-row brewery-{% if forloop.counter0|divisibleby:"2"%}even{% else %}odd{% endif %} {% if b.checked_into %}brewery-checkedin{% endif %}">
              <div class="col-xs-4">{{ b.brewery.name }}</div>
              <div class="col-xs-1">{{ b.brewery.state }}</div>
              <div class="col-xs-1">{{ b.point_value }}</div>
              {% if contest_player %}
              <div class="col-xs-1">
                {% if b.checked_into %}
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				{% endif %}
              </div>
			  {% endif %}
            </div>
		    {% endfor %}
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="bonuses">
        <div class="bonus-list">
          <p>Loading...</p>
        </div>
      </div>
      {% if is_creator %}
      <div role="tabpanel" class="tab-pane" id="validate">
        <div class="checkin-list">
          <p>Loading...</p>
        </div>
        <div class="checkin-pages">
          <span class="step-links">
          </span>
        </div>
      </div>
      {% endif %}
    </div>

  </div>


{% endblock %}
