{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
  Validate Checkins
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css' %}"/>
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'select2/dist/js/select2.min.js' %}"></script>
  {{ form.media }}
  <script>
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      var csrftoken = Cookies.get('csrftoken');
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
  </script>
  <script>
  (function(exports) {


    function validateCheckin(uvId, isBeer, bId) {
      var url = "{% url 'validate-checkin' contest.id %}";
      content = { 'checkin': uvId };
      if (isBeer) {
        content['as_beer'] = bId;
      } else {
        content['as_brewery'] = bId;
      }
      return $.ajax({
        url: url,
        headers: { Accept: 'application/json' },
        data: JSON.stringify(content),
        contentType: 'application/json',
        dataType: 'json',
        method: 'POST'
      });
    }

    function sendAddBrewery(uvId, content) {
      var url = "{% url 'validate-checkin' contest.id %}";
      return $.ajax({
        url: url,
        headers: { Accept: 'application/json' },
        data: JSON.stringify(content),
        contentType: 'application/json',
        dataType: 'json',
        method: 'POST'
      });
    }

    function removeRow(uvId) {
      return function (result, status, xhr) {
        console.log("removeRow status " + status);
        console.log("removeRow result " + result);
        $('#id_'+uvId+'_row').slideUp('slow');
        return $('#id_'+uvId+'_row').promise().then( function() { $(this).remove(); } );
      }
    }

    function getNextUnvalidatedCheckin(index) {
      return function () {
        var url = "{% url 'unvalidated-checkins-json' contest.id %}";
        return $.ajax({
            url: url,
            headers: { Accept: 'application/json' },
            data: { 'slice_start': index, 'slice_end': index + 1, },
            method: 'GET',
            contentType: 'application/json',
        });
      }
    }

    function addRow(checkin) {
      console.log("addRow argument " + checkin);
      $('#validation-table').append(
        '<tr class="validation-row" id="id_' + checkin.id + '_row" data-validation-id="' + checkin.id + '">' + "\n" +
        '<td>' + checkin.player + "</td>\n" +
        '<td><a href="' + checkin.checkin_url + '" target="_blank">' + checkin.beer + ' from ' + checkin.brewery + "</a></td>\n" +
        '<td>' + checkin.checkin_date + "</td>\n" +
        '<td><select id="id_' + checkin.id + '_select" class="beer-list"></select></td>' + "\n" +
        '<td><button id="id_' + checkin.id + '_vbutton" class="validation-button validation-click" disabled>Validate</button></td>' + "\n" +
        '<td><button id="id_' + checkin.id + '_dbutton" class="validation-button dismissal-click">Dismiss</button></td>' + "\n" +
        "</tr>\n"
      );
      var select = $("#id_" + checkin.id + "_select");
      if ("possible_id" in checkin) {
        $("#id_" + checkin.id + "_vbutton").prop("disabled", false);
        select.append(
          '<option value="' + checkin.possible_id + '">' + checkin.possible_name + '</option>'
        );
      } else {
        select.append('<option></option>');
      }
      select.select2({ placeholder: "Select a beer or brewery", allowClear: true, data: exports.data });
      select.on("select2:select", exports.beerListOnSelect);
      select.on("select2:unselect", exports.beerListOnUnselect);
      $("#id_" + checkin.id + "_vbutton").click(exports.validationClick);
      $("#id_" + checkin.id + "_dbutton").click(exports.dismissalClick);
    }

    function refreshList() {
      return function (result, status, xhr) {
        try {
          for (var i = 0; i < result.checkins.length; i++) {
            addRow(result.checkins[i]);
          }
          if (result.page_index > 1) {
            console.log("Setting previous to " + (result.page_index - 1));
            $("#previous-link").attr("href", "?page=" + (result.page_index - 1));
          } else {
            $("#previous-link").remove();
          }
          if (result.page_index < result.page_count) {
            console.log("Setting next to " + (result.page_index + 1));
            $("#next-link").attr("href", "?page=" + (result.page_index + 1));
          } else {
            $("#next-link").remove();
          }
          $("#page-description").text("Page " + result.page_index + " of " + result.page_count + ".");
          return "success";
        } catch (err) {
          return $.Deferred().fail(err);
        }
      }
    }

    function sendDeleteUvMessage(uvId) {
      var initialPage = {{ uvs.number }};
      var initialPageEndIndex = {{ uvs.end_index }} - 1;
      var url = "{% url 'delete-checkin' contest.id 0 %}";
      url = url.replace(/\/0((\/.*){0,1})$/, '/' + uvId + '$1');
      console.log('Dismissing ' + uvId);
      return $.ajax({
        url: url,
        headers: { Accept: 'application/json' },
        dataType: 'json',
        method: 'DELETE'
      }).then(removeRow(uvId))
        .then(getNextUnvalidatedCheckin(initialPageEndIndex))
        .then(refreshList());
    }

    function sendValidateUvMessage(uvId, beerId) {
      var initialPage = {{ uvs.number }};
      var initialPageEndIndex = {{ uvs.end_index }} - 1;
      console.log('Setting ' + uvId + ' to beer ' + beerId);
      var promise = null;
      if (beerId.startsWith('beer:')) {
        promise = validateCheckin(uvId, true, beerId.substring(5))
      } else if (beerId.startsWith('brewery:')) {
        promise = validateCheckin(uvId, false, beerId.substring(8))
      } else {
        return;
      }
      promise.then(removeRow(uvId))
        .then(getNextUnvalidatedCheckin(initialPageEndIndex))
        .then(refreshList());
    }

    exports.data = [
      {
        text: 'Beers',
        children: [
          {% for b in beers %}{ id: 'beer:{{ b.id }}', text: '{{ b.beer_name }}'},
          {% endfor %}
        ]
      },
      {
        text: 'Breweries',
        children: [
          {% for b in breweries %}{ id: 'brewery:{{ b.id }}', text: '{{ b.brewery_name }}'},
          {% endfor %}
        ]
      }
    ];

    exports.validationClick = function() {
      // The parent validation-row contains the validation ID in its data
      var row = $(this).parents(".validation-row");
      var uvId = $(row).data("validationId");
      var selected = $(row).find(".beer-list option:selected").val();
      if (selected) {
        sendValidateUvMessage(uvId, selected);
      }
    }

    exports.dismissalClick = function() {
        // The parent validation-row contains the validation ID in its data
        var uvId = $(this).parents(".validation-row").data("validationId");
        sendDeleteUvMessage(uvId);
    }

    exports.beerListOnSelect = function(e) {
        $(this).parents(".validation-row").find(".validation-click").prop('disabled', false);
    }

    exports.beerListOnUnselect = function(e) {
        $(this).parents(".validation-row").find(".validation-click").prop('disabled', true);
    }

  })(this.uvPage = {});


  $(document).ready(function() {
    /* Convert to select2 for dropdown */
    $(".beer-list").select2({ placeholder: "Select a beer", allowClear: true, data: uvPage.data, })
    /* When a beer is selected, enable validation */
    $(".beer-list").on("select2:select", uvPage.beerListOnSelect);
    /* When a beer is unselected, disable validation */
    $(".beer-list").on("select2:unselect", uvPage.beerListOnUnselect);
    /* When a validate button is clicked, submit the validation information */
    $(".validation-click").click(uvPage.validationClick);
    /* When a dismissal is clicked, submit the dismissal information */
    $(".dismissal-click").click(uvPage.dismissalClick);
  });
  </script>
{% endblock %}

{% block content %}
  <div class="validations">
    <table id="validation-table">
      <tr>
        <th>Player</th>
        <th>Beer/Brewery Checkin</th>
        <th>Checkin Date</th>
        <th>Select Contest Beer</th>
        <th>Validate</th>
        <th>Dismiss</th>
      </tr>
      {% for uv in uvs %}
      <tr class="validation-row" id="id_{{ uv.id }}_row" data-validation-id="{{ uv.id }}">
        <td>
          {{ uv.contest_player.player.user.username }}
        </td>
        <td>
          <a href="{{ uv.untappd_checkin }}" target="_blank">
            {{ uv.beer }} from {{ uv.brewery }}
          </a>
        </td>
        <td>
          {{ uv.untappd_checkin_date|date:"SHORT_DATE_FORMAT" }}
        </td>
        <td>
          <select id="id_{{ uv.id }}_select" class="beer-list">
            {% if uv.possible_beer %}
            <option value="beer:{{ uv.possible_beer.id }}">{{ uv.possible_beer.beer_name }}</option>
            {% elif uv.possible_brewery %}
            <option value="brewery:{{ uv.possible_brewery.id }}">{{ uv.possible_brewery.brewery_name }}</option>
            {% else %}
            <option></option>
            {% endif %}
          </select>
        </td>
        <td>
          <button id="id_{{ uv.id }}_vbutton" class="validation-button validation-click" {% if not uv.possible_beer and not uv.possible_brewery %}disabled{% endif %}>
            Validate
          </button>
        </td>
        <td>
          <button id="id_{{ uv.id }}_dbutton" class="validation-button dismissal-click">
            Dismiss
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="pager">
      <span class="step-links">
        {% if uvs.has_previous %}
          <a id="previous-link" href="?page={{ uvs.previous_page_number }}">previous</a>
        {% endif %}

        <span id="page-description" class="current">
          Page {{ uvs.number }} of {{ uvs.paginator.num_pages }}.
        </span>

        {% if uvs.has_next %}
          <a id="next-link" href="?page={{ uvs.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>


<div class="dialog-overlay" id="validation-dialog">
  <div class="dialog-box">
    <span id="dialog-text">
    </span>
  </div>
</div>

<div class="dialog-overlay" id="ignore-dialog">
  <div class="dialog-box">
    <span id="dialog-text">
    </span>
  </div>
</div>

{% endblock %}
