{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
  Validate Checkins
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
  {{ form.media }}
  <script>
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      var csrftoken = Cookies.get('csrftoken');
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
  </script>
  <script>
  (function(exports) {
    var currentSearch = -1;
    var currentResult = -1;

    function sendContent(uvId, content) {
      var url = "{% url 'update-checkin' contest.id 0 %}";
      url = url.replace('/0/', '/' + uvId + '/');
      $.ajax({
        url: url,
        headers: {
          Accept: 'application/json'
        },
        data: JSON.stringify(content),
        contentType: 'application/json',
        dataType: 'json',
        method: 'POST'
      }).done(function (result, status, xhr) {
          console.log('Status: ' + status);
          if (status == "success") {
            $('#id_'+uvId+'_vbutton').fadeOut(400).remove();
            $('#id_'+uvId+'_dbutton').fadeOut(400).remove();
            $('#id_'+uvId+'_select').prop('disabled', true);
            {% comment %}
            if (currentSearch == uvId) {
              exports.clearSearchBox();
            }
            $('#id_'+uvId+'_box').fadeOut(400, function() {
              $('#id_'+uvId+'_box').slideUp(2000, function() {
                $('#id_'+uvId+'_box').remove();
              })
            });
            {% endcomment %}
          } else {
            alert("Got an error " + status);
          }
        }
      ).fail(function (xhr, status, error) {
        alert("Error trying to send content: " + content + ": " + error)
      });
    }

    exports.data = [
      {% for b in beers %}{ id: {{ b.id }}, text: '{{ b.beer_name }}'},
      {% endfor %}
    ];

    exports.dismissUv = function(uvId) {
      sendContent(uvId, {'remove-beer': 'Remove'});
      console.log('Dismissing ' + uvId);
    }

    exports.validateUv = function(uvId, beerId) {
      sendContent(uvId, { 'validate-beer': 'Validate', 'contest-beer': beerId});
      console.log('Setting ' + uvId + ' to beer ' + beerId);
    }

    exports.bindButtonsFor = function(uvId, beer) {
      $("#id_"+uvId+"_dbutton").click(function() {
        exports.dismissUv(uvId);
      });
      var b = exports.data.find((e) => { return e.text == beer; });
      if (b) {
        $("#id_"+uvId+"_select").val(b.id);
        $("#id_"+uvId+"_vbutton").prop('disabled', false);
      } else {
        $("#id_"+uvId+"_select").val(null).trigger("change");
        $("#id_"+uvId+"_vbutton").prop('disabled', true);
      }
    }
  })(this.uvPage = {});

  $(document).ready(function() {
    $(".beer-list").select2({ placeholder: "Select a beer", allowClear: true, data: uvPage.data, })
    {% for uv in uvs %}uvPage.bindButtonsFor({{ uv.id }}, "{{ uv.beer }}");
    {# Enable valiation upon selection #}
    $("#id_{{ uv.id }}_select").on("select2:select", (e) => {
      $("#id_{{ uv.id }}_vbutton").prop('disabled', false);
    });
    {# Disable validation upon deselection #}
    $("#id_{{ uv.id }}_select").on("select2:unselect", (e) => {
      $("#id_{{ uv.id }}_vbutton").prop('disabled', true);
    });
    {# Send a validation if a selection has been made and validation was clicked #}
    $("#id_{{ uv.id }}_vbutton").click(() => {
      var selected = $("#id_{{ uv.id }}_select option:selected").val();
      if (selected) {
        uvPage.validateUv({{ uv.id }}, selected);
      }
    });
    {# Send a dismissal if a selection has been made and dismiss was clicked #}
    $("#id_{{ uv.id }}_dbutton").click(() => {
      uvPage.dismissUv({{ uv.id }});
    });
    {% endfor %}
  });
  </script>
{% endblock %}

{% block content %}
  <div class="validations">
    <table>
      <tr>
        <th>Player</th>
        <th>Beer/Brewery Checkin</th>
        <th>Checkin Date</th>
        <th>Select Contest Beer</th>
        <th>Validate</th>
        <th>Dismiss</th>
      </tr>
      {% for uv in uvs %}
      <tr>
        <td>
          {{ uv.contest_player.player.user.username }}
        </td>
        <td>
          <a href="{{ uv.untappd_checkin }}" target="_blank">
            {{ uv.beer }} from {{ uv.brewery }}
          </a>
        </td>
        <td>
          {{ uv.untappd_checkin_date|date:"SHORT_DATE_FORMAT" }}
        </td>
        <td>
          <select id="id_{{ uv.id }}_select" class="beer-list"></select>
        </td>
        <td>
          <button id="id_{{ uv.id }}_vbutton" class="validation-button">
            Validate
          </button>
        </td>
        <td>
          <button id="id_{{ uv.id }}_dbutton" class="validation-button">
            Dismiss
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="pager">
      <span class="step-links">
        {% if uvs.has_previous %}
          <a href="?page={{ uvs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ uvs.number }} of {{ uvs.paginator.num_pages }}.
        </span>

        {% if uvs.has_next %}
          <a href="?page={{ uvs.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>


<div class="dialog-overlay" id="validation-dialog">
  <div class="dialog-box">
    <span id="dialog-text">
    </span>
  </div>
</div>

<div class="dialog-overlay" id="ignore-dialog">
  <div class="dialog-box">
    <span id="dialog-text">
    </span>
  </div>
</div>

{% endblock %}
