{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static "css/beers.css" %}"/>
    <title>{% block title %}One Hundred Beers - Login{% endblock %}</title>
	</head>
	<body>
		<div class="top">
			<div class="header-title-box"><a href="{% url 'index' %}">One Hundred Beers</a></div>
			<div class="header-login-box"><a href="{% url 'login' %}">Login</a></div>
		</div>
		<div class="top-image">
			{% block banner_image %}
			<img src="{% static "images/snow-restaurant-mountains-sky-blurred-short.png" %}" alt="Beers in a Row" id="topimage"/>
			{% endblock %}
		</div>
		<div class="content">
			{% block content %}
				Content
			{% endblock %}
		</div>
	</body>
</html>
