{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static "css/beers.css" %}"/>
    <title>{% block title %}One Hundred Beers - Login{% endblock %}</title>
	</head>
	<body>
		<div class="top">
			<div class="header-title-box"><a href="{% url 'index' %}">One Hundred Beers</a></div>
			<div class="header-login-box">
				{% if request.user.is_authenticated %}
					Welcome, {{ request.user.username }}
					<a style="font-size: 0.75rem; text-decoration: underline;" href="{% url 'logout' %}">(Logout)</a>
				{% else %}
					<a href="{% url 'signup' %}">Signup</a> or <a href="{% url 'login' %}">Login</a>
				{% endif %}
			</div>
		</div>
		<div class="top-image">
			{% block banner_image %}
			<img src="{% static "images/snow-restaurant-mountains-sky-blurred-short.png" %}" alt="Beers in a Row" id="topimage"/>
			{% endblock %}
		</div>
		<div class="content">
			{% block content %}
				Content
			{% endblock %}
		</div>
	</body>
</html>
